<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="dataserverSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pgcs04.carmeusena.com/dataserver/dataserver.asmx"
                binding="basicHttpBinding" bindingConfiguration="dataserverSoap"
                contract="WebService.dataserverSoap" name="dataserverSoap" />
        </client>
    </system.serviceModel>
</configuration>